<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{HH:mm:ss} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <logger name="irc" level="DEBUG"/>
    <logger name="java_irc_chat_client" level="DEBUG"/>

    <logger name="org.jibble.pircbot" level="DEBUG"/> 

    
    <logger name="org.slf4j" level="WARN"/>
    <logger name="java" level="WARN"/>
    <logger name="javax" level="WARN"/>

    <root level="INFO">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>
